{% extends "_base.html" %}

{% block title %}Playlist - {{ playlist.titrePlaylist }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ playlist.titrePlaylist }}</h1>
    <p><strong>Description :</strong> {{ playlist.description }}</p>
    <p><strong>Visibilité :</strong> {{ playlist.visibilite }}</p>
    <p><strong>Date de création :</strong> {{ createur.dateCreation.strftime('%d/%m/%Y') if createur else "Inconnue" }}</p>
    <p><strong>Créateur :</strong> {{ createur.pseudonyme if createur else "Inconnu" }}</p>

    <h3>Morceaux</h3>
    {% if morceaux %}
    <div class="list-container">
        {% for morceau in morceaux %}
        <div class="card-morceau">
            <div class="card-header">
                <h5 class="card-title">🎵 {{ morceau.titreMorceau }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Album : {{ morceau.titreAlbum }}<br>
                    Durée : <span class="highlight">{{ morceau.duree // 60 }} minutes {{ morceau.duree % 60 }} secondes</span>
                </p>
                <form action="{{ url_for('main.increment_ecoute', morceau_id=morceau.numMorc) }}" method="POST">
                    <button type="submit" class="btn btn-success">▶︎ Ecouter</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Pas de morceaux associés.</p>
    {% endif %}
</div>
{% endblock %}